<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_45ad54d87ed5035a8182a7e025902eb4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_45ad54d87ed5035a8182a7e025902eb4" ></div>
        
</body>
<script>
    
    
            var map_45ad54d87ed5035a8182a7e025902eb4 = L.map(
                "map_45ad54d87ed5035a8182a7e025902eb4",
                {
                    center: [1.3521, 103.8198],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_09da15649ac0cef9440c9b2fac7cb1fe = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_45ad54d87ed5035a8182a7e025902eb4);
        
    
            var marker_1d4b479fcdae59739d81fc0332fbf5a5 = L.marker(
                [1.429443081, 103.835005],
                {}
            ).addTo(map_45ad54d87ed5035a8182a7e025902eb4);
        
    
            var icon_f737dada9419511eda530cea5affd13a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_1d4b479fcdae59739d81fc0332fbf5a5.setIcon(icon_f737dada9419511eda530cea5affd13a);
        
    
        var popup_8da40083716fadda4a69201690ba116c = L.popup({"maxWidth": "100%"});

        
            
                var html_1a4e527572e083a876b312a95d58ce95 = $(`<div id="html_1a4e527572e083a876b312a95d58ce95" style="width: 100.0%; height: 100.0%;">YISHUN MRT STATION</div>`)[0];
                popup_8da40083716fadda4a69201690ba116c.setContent(html_1a4e527572e083a876b312a95d58ce95);
            
        

        marker_1d4b479fcdae59739d81fc0332fbf5a5.bindPopup(popup_8da40083716fadda4a69201690ba116c)
        ;

        
    
    
            var marker_7f7da04f66829bbbd9ff1cfffa101be2 = L.marker(
                [1.41738337, 103.8329799],
                {}
            ).addTo(map_45ad54d87ed5035a8182a7e025902eb4);
        
    
            var icon_e0d4ca7dbc2614d71a1365e7571e5493 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7f7da04f66829bbbd9ff1cfffa101be2.setIcon(icon_e0d4ca7dbc2614d71a1365e7571e5493);
        
    
        var popup_e4a7318b01eb49c4b8b16023187987f4 = L.popup({"maxWidth": "100%"});

        
            
                var html_e992806084e57b052f7b388160a0005c = $(`<div id="html_e992806084e57b052f7b388160a0005c" style="width: 100.0%; height: 100.0%;">KHATIB MRT STATION</div>`)[0];
                popup_e4a7318b01eb49c4b8b16023187987f4.setContent(html_e992806084e57b052f7b388160a0005c);
            
        

        marker_7f7da04f66829bbbd9ff1cfffa101be2.bindPopup(popup_e4a7318b01eb49c4b8b16023187987f4)
        ;

        
    
    
            var marker_820d1ce7f0ff029f9d62a17a43eed979 = L.marker(
                [1.381756046, 103.8449473],
                {}
            ).addTo(map_45ad54d87ed5035a8182a7e025902eb4);
        
    
            var icon_b743331841dee928e36002b823568b16 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_820d1ce7f0ff029f9d62a17a43eed979.setIcon(icon_b743331841dee928e36002b823568b16);
        
    
        var popup_86282048d4b1b5602d0c721eb26ce96f = L.popup({"maxWidth": "100%"});

        
            
                var html_42c290a1f75adc127646af6f4b7493f7 = $(`<div id="html_42c290a1f75adc127646af6f4b7493f7" style="width: 100.0%; height: 100.0%;">YIO CHU KANG MRT STATION</div>`)[0];
                popup_86282048d4b1b5602d0c721eb26ce96f.setContent(html_42c290a1f75adc127646af6f4b7493f7);
            
        

        marker_820d1ce7f0ff029f9d62a17a43eed979.bindPopup(popup_86282048d4b1b5602d0c721eb26ce96f)
        ;

        
    
    
            var marker_fd2101c32dcdb88cf37e5bfa0c935a94 = L.marker(
                [1.369347304, 103.849933],
                {}
            ).addTo(map_45ad54d87ed5035a8182a7e025902eb4);
        
    
            var icon_7fcc2a17179e944961b02a281a7330a4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fd2101c32dcdb88cf37e5bfa0c935a94.setIcon(icon_7fcc2a17179e944961b02a281a7330a4);
        
    
        var popup_e05536fba1eb8595000abd3c1d0697c3 = L.popup({"maxWidth": "100%"});

        
            
                var html_19e8496d29a0510f68dd760e71aabddf = $(`<div id="html_19e8496d29a0510f68dd760e71aabddf" style="width: 100.0%; height: 100.0%;">ANG MO KIO MRT STATION</div>`)[0];
                popup_e05536fba1eb8595000abd3c1d0697c3.setContent(html_19e8496d29a0510f68dd760e71aabddf);
            
        

        marker_fd2101c32dcdb88cf37e5bfa0c935a94.bindPopup(popup_e05536fba1eb8595000abd3c1d0697c3)
        ;

        
    
    
            var marker_e74b64759fa12784ca2ffa0e1dc11959 = L.marker(
                [1.350838988, 103.848144],
                {}
            ).addTo(map_45ad54d87ed5035a8182a7e025902eb4);
        
    
            var icon_5054a2dcd3911f82537dd33913757ae3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e74b64759fa12784ca2ffa0e1dc11959.setIcon(icon_5054a2dcd3911f82537dd33913757ae3);
        
    
        var popup_4a99f105afcf9e981a908228a77961b8 = L.popup({"maxWidth": "100%"});

        
            
                var html_dc77ec6d64647fc4d0da4a155889d089 = $(`<div id="html_dc77ec6d64647fc4d0da4a155889d089" style="width: 100.0%; height: 100.0%;">BISHAN MRT STATION</div>`)[0];
                popup_4a99f105afcf9e981a908228a77961b8.setContent(html_dc77ec6d64647fc4d0da4a155889d089);
            
        

        marker_e74b64759fa12784ca2ffa0e1dc11959.bindPopup(popup_4a99f105afcf9e981a908228a77961b8)
        ;

        
    
    
            var poly_line_4aef246a48633ff4ddf0d3ef3aafcde9 = L.polyline(
                [[1.429443081, 103.835005], [1.41738337, 103.8329799], [1.381756046, 103.8449473], [1.369347304, 103.849933], [1.350838988, 103.848144]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": "5", "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_45ad54d87ed5035a8182a7e025902eb4);
        
</script>
</html>