<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d71970c6f19f52425dc381c1f4bd84c9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d71970c6f19f52425dc381c1f4bd84c9" ></div>
        
</body>
<script>
    
    
            var map_d71970c6f19f52425dc381c1f4bd84c9 = L.map(
                "map_d71970c6f19f52425dc381c1f4bd84c9",
                {
                    center: [1.3521, 103.8198],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_335a104e40eaac99ed1f1e6ed461301c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var marker_24658c40630ab13061e0f0944f828fec = L.marker(
                [1.429443081, 103.835005],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_2cc164ab8bff15fb3ca0f8b2357cd7f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_24658c40630ab13061e0f0944f828fec.setIcon(icon_2cc164ab8bff15fb3ca0f8b2357cd7f7);
        
    
        var popup_cc05305826d54d8f3fc3816711f01e6d = L.popup({"maxWidth": "100%"});

        
            
                var html_c064ea59a491c09df9e41ba8c498db72 = $(`<div id="html_c064ea59a491c09df9e41ba8c498db72" style="width: 100.0%; height: 100.0%;">YISHUN MRT STATION</div>`)[0];
                popup_cc05305826d54d8f3fc3816711f01e6d.setContent(html_c064ea59a491c09df9e41ba8c498db72);
            
        

        marker_24658c40630ab13061e0f0944f828fec.bindPopup(popup_cc05305826d54d8f3fc3816711f01e6d)
        ;

        
    
    
            var marker_ce81b666f4d022b3eb2b8cf17f0cf3f9 = L.marker(
                [1.41738337, 103.8329799],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_75d56d2124869d05fa6ce0ce7e912852 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ce81b666f4d022b3eb2b8cf17f0cf3f9.setIcon(icon_75d56d2124869d05fa6ce0ce7e912852);
        
    
        var popup_90c5bcf9dcffa99f9039f1d39d426170 = L.popup({"maxWidth": "100%"});

        
            
                var html_d1226a275366acade08745bbc70b8b8b = $(`<div id="html_d1226a275366acade08745bbc70b8b8b" style="width: 100.0%; height: 100.0%;">KHATIB MRT STATION</div>`)[0];
                popup_90c5bcf9dcffa99f9039f1d39d426170.setContent(html_d1226a275366acade08745bbc70b8b8b);
            
        

        marker_ce81b666f4d022b3eb2b8cf17f0cf3f9.bindPopup(popup_90c5bcf9dcffa99f9039f1d39d426170)
        ;

        
    
    
            var marker_832e53ae851282b918ede06944c26309 = L.marker(
                [1.381756046, 103.8449473],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_bf61f86e66cb0e53bb22aff8109e86a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_832e53ae851282b918ede06944c26309.setIcon(icon_bf61f86e66cb0e53bb22aff8109e86a2);
        
    
        var popup_ad608dd96c940b7e8bdbb5339e2b4c10 = L.popup({"maxWidth": "100%"});

        
            
                var html_40101ca0260f3a355fc1e5fa9635557e = $(`<div id="html_40101ca0260f3a355fc1e5fa9635557e" style="width: 100.0%; height: 100.0%;">YIO CHU KANG MRT STATION</div>`)[0];
                popup_ad608dd96c940b7e8bdbb5339e2b4c10.setContent(html_40101ca0260f3a355fc1e5fa9635557e);
            
        

        marker_832e53ae851282b918ede06944c26309.bindPopup(popup_ad608dd96c940b7e8bdbb5339e2b4c10)
        ;

        
    
    
            var marker_6c7c6cfd5e2d893f74b4cd8eb05735b9 = L.marker(
                [1.369347304, 103.849933],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_f0127e1aac39226000e3295b12c9169f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6c7c6cfd5e2d893f74b4cd8eb05735b9.setIcon(icon_f0127e1aac39226000e3295b12c9169f);
        
    
        var popup_3d30b8c6bb3f9a441ff711b7e8224421 = L.popup({"maxWidth": "100%"});

        
            
                var html_1e9e2f265acee597396cfe31ad23fbcc = $(`<div id="html_1e9e2f265acee597396cfe31ad23fbcc" style="width: 100.0%; height: 100.0%;">ANG MO KIO MRT STATION</div>`)[0];
                popup_3d30b8c6bb3f9a441ff711b7e8224421.setContent(html_1e9e2f265acee597396cfe31ad23fbcc);
            
        

        marker_6c7c6cfd5e2d893f74b4cd8eb05735b9.bindPopup(popup_3d30b8c6bb3f9a441ff711b7e8224421)
        ;

        
    
    
            var marker_28117de739cccf2cb882e6a26e73bc26 = L.marker(
                [1.350838988, 103.848144],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_8f9f0277b78547fdb647b49e6626f312 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_28117de739cccf2cb882e6a26e73bc26.setIcon(icon_8f9f0277b78547fdb647b49e6626f312);
        
    
        var popup_baa868c7c0863ba41d06e4da410a6be8 = L.popup({"maxWidth": "100%"});

        
            
                var html_8fae0b94ca0c4c3ba9545f7e00095f57 = $(`<div id="html_8fae0b94ca0c4c3ba9545f7e00095f57" style="width: 100.0%; height: 100.0%;">BISHAN MRT STATION</div>`)[0];
                popup_baa868c7c0863ba41d06e4da410a6be8.setContent(html_8fae0b94ca0c4c3ba9545f7e00095f57);
            
        

        marker_28117de739cccf2cb882e6a26e73bc26.bindPopup(popup_baa868c7c0863ba41d06e4da410a6be8)
        ;

        
    
    
            var marker_fed5d597697a189d550ad2ed67aeb81d = L.marker(
                [1.351612171, 103.8641519],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_7ee8f7bb1d967363ee68f4d5f496439b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fed5d597697a189d550ad2ed67aeb81d.setIcon(icon_7ee8f7bb1d967363ee68f4d5f496439b);
        
    
        var popup_0ed09e15b93a10816f6d06169ea5c1a2 = L.popup({"maxWidth": "100%"});

        
            
                var html_289078a50e21b46397262e3a297c13b3 = $(`<div id="html_289078a50e21b46397262e3a297c13b3" style="width: 100.0%; height: 100.0%;">LORONG CHUAN MRT STATION</div>`)[0];
                popup_0ed09e15b93a10816f6d06169ea5c1a2.setContent(html_289078a50e21b46397262e3a297c13b3);
            
        

        marker_fed5d597697a189d550ad2ed67aeb81d.bindPopup(popup_0ed09e15b93a10816f6d06169ea5c1a2)
        ;

        
    
    
            var marker_c773007ae70b99a1ace6290320ee090b = L.marker(
                [1.349707875, 103.8735748],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_bf5aa3ec437110a89e0ce0ef2012c6b9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c773007ae70b99a1ace6290320ee090b.setIcon(icon_bf5aa3ec437110a89e0ce0ef2012c6b9);
        
    
        var popup_8e0a453a18da53d83745e0f012aa891a = L.popup({"maxWidth": "100%"});

        
            
                var html_944e63e52b3e1c818355ad6cb110977a = $(`<div id="html_944e63e52b3e1c818355ad6cb110977a" style="width: 100.0%; height: 100.0%;">SERANGOON MRT STATION</div>`)[0];
                popup_8e0a453a18da53d83745e0f012aa891a.setContent(html_944e63e52b3e1c818355ad6cb110977a);
            
        

        marker_c773007ae70b99a1ace6290320ee090b.bindPopup(popup_8e0a453a18da53d83745e0f012aa891a)
        ;

        
    
    
            var marker_df8a8524c2f288dec6c4d805d6c14f1b = L.marker(
                [1.342828338, 103.8797589],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_fedf459611be620ebf5d06bcbaca0750 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_df8a8524c2f288dec6c4d805d6c14f1b.setIcon(icon_fedf459611be620ebf5d06bcbaca0750);
        
    
        var popup_03aa8830a01dda88a826b70ade59ad63 = L.popup({"maxWidth": "100%"});

        
            
                var html_c942e86b069ab6a78c5fc4fcb63805ee = $(`<div id="html_c942e86b069ab6a78c5fc4fcb63805ee" style="width: 100.0%; height: 100.0%;">BARTLEY MRT STATION</div>`)[0];
                popup_03aa8830a01dda88a826b70ade59ad63.setContent(html_c942e86b069ab6a78c5fc4fcb63805ee);
            
        

        marker_df8a8524c2f288dec6c4d805d6c14f1b.bindPopup(popup_03aa8830a01dda88a826b70ade59ad63)
        ;

        
    
    
            var marker_13ac8bbe785c9078433df32d82b09f2b = L.marker(
                [1.335433322, 103.8881949],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_b812a2f732d4b2d3592dff4f87f2ec0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_13ac8bbe785c9078433df32d82b09f2b.setIcon(icon_b812a2f732d4b2d3592dff4f87f2ec0b);
        
    
        var popup_2c0fe9d0d87e443fef838ddc99159d11 = L.popup({"maxWidth": "100%"});

        
            
                var html_b5faa80cb54c1855967241b5274ea483 = $(`<div id="html_b5faa80cb54c1855967241b5274ea483" style="width: 100.0%; height: 100.0%;">TAI SENG MRT STATION</div>`)[0];
                popup_2c0fe9d0d87e443fef838ddc99159d11.setContent(html_b5faa80cb54c1855967241b5274ea483);
            
        

        marker_13ac8bbe785c9078433df32d82b09f2b.bindPopup(popup_2c0fe9d0d87e443fef838ddc99159d11)
        ;

        
    
    
            var marker_ad4ac2c69e682c2ef553717ad3f02b69 = L.marker(
                [1.326345372, 103.890287],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_62a8a77774ab74a34aa76dcba302bef2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ad4ac2c69e682c2ef553717ad3f02b69.setIcon(icon_62a8a77774ab74a34aa76dcba302bef2);
        
    
        var popup_825f555de150fe1290666d21d317005f = L.popup({"maxWidth": "100%"});

        
            
                var html_af45baf11342766d6b70ecbcd9ea6830 = $(`<div id="html_af45baf11342766d6b70ecbcd9ea6830" style="width: 100.0%; height: 100.0%;">MACPHERSON MRT STATION</div>`)[0];
                popup_825f555de150fe1290666d21d317005f.setContent(html_af45baf11342766d6b70ecbcd9ea6830);
            
        

        marker_ad4ac2c69e682c2ef553717ad3f02b69.bindPopup(popup_825f555de150fe1290666d21d317005f)
        ;

        
    
    
            var marker_2be4c1ad5ed4558e93fc8a66738efd07 = L.marker(
                [1.318112082, 103.8930604],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_fd59ee2f9b1e716e75c2cd5e65b77578 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2be4c1ad5ed4558e93fc8a66738efd07.setIcon(icon_fd59ee2f9b1e716e75c2cd5e65b77578);
        
    
        var popup_a48f393a871c055281984be507ba3a8d = L.popup({"maxWidth": "100%"});

        
            
                var html_543ec87ed110dce97d0eb1c8f1d32b89 = $(`<div id="html_543ec87ed110dce97d0eb1c8f1d32b89" style="width: 100.0%; height: 100.0%;">PAYA LEBAR MRT STATION</div>`)[0];
                popup_a48f393a871c055281984be507ba3a8d.setContent(html_543ec87ed110dce97d0eb1c8f1d32b89);
            
        

        marker_2be4c1ad5ed4558e93fc8a66738efd07.bindPopup(popup_a48f393a871c055281984be507ba3a8d)
        ;

        
    
    
            var marker_efe2e373f4e831ebeb5e27d2ebbf3598 = L.marker(
                [1.319778952, 103.9032525],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_fd8bf47fef007b2f6b30d3367a68c35d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_efe2e373f4e831ebeb5e27d2ebbf3598.setIcon(icon_fd8bf47fef007b2f6b30d3367a68c35d);
        
    
        var popup_4aacf5e2ac6f85558132b56ebe71fdd2 = L.popup({"maxWidth": "100%"});

        
            
                var html_ecc561bfa01f79db3179e588ebe21a07 = $(`<div id="html_ecc561bfa01f79db3179e588ebe21a07" style="width: 100.0%; height: 100.0%;">EUNOS MRT STATION</div>`)[0];
                popup_4aacf5e2ac6f85558132b56ebe71fdd2.setContent(html_ecc561bfa01f79db3179e588ebe21a07);
            
        

        marker_efe2e373f4e831ebeb5e27d2ebbf3598.bindPopup(popup_4aacf5e2ac6f85558132b56ebe71fdd2)
        ;

        
    
    
            var marker_14524a431700e2e9d7d360a3b8566b00 = L.marker(
                [1.321038249, 103.9129494],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_ac7fcbcd43e51dfa7362989dc1921b36 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_14524a431700e2e9d7d360a3b8566b00.setIcon(icon_ac7fcbcd43e51dfa7362989dc1921b36);
        
    
        var popup_e6bf98678d6956c2f8db5cbbfb4adbae = L.popup({"maxWidth": "100%"});

        
            
                var html_c48317a04bd7ae7b7514eeed6ff35ecd = $(`<div id="html_c48317a04bd7ae7b7514eeed6ff35ecd" style="width: 100.0%; height: 100.0%;">KEMBANGAN MRT STATION</div>`)[0];
                popup_e6bf98678d6956c2f8db5cbbfb4adbae.setContent(html_c48317a04bd7ae7b7514eeed6ff35ecd);
            
        

        marker_14524a431700e2e9d7d360a3b8566b00.bindPopup(popup_e6bf98678d6956c2f8db5cbbfb4adbae)
        ;

        
    
    
            var marker_c24a93ae508993aabf7548f3b724fab2 = L.marker(
                [1.323979969, 103.9299845],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_35eba421dfb5185cc8e86d2d8f5ee039 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c24a93ae508993aabf7548f3b724fab2.setIcon(icon_35eba421dfb5185cc8e86d2d8f5ee039);
        
    
        var popup_402f20dc53da3563a209a9e2e45deec5 = L.popup({"maxWidth": "100%"});

        
            
                var html_98532a5f4463d0be44ba6d4cc4083078 = $(`<div id="html_98532a5f4463d0be44ba6d4cc4083078" style="width: 100.0%; height: 100.0%;">BEDOK MRT STATION</div>`)[0];
                popup_402f20dc53da3563a209a9e2e45deec5.setContent(html_98532a5f4463d0be44ba6d4cc4083078);
            
        

        marker_c24a93ae508993aabf7548f3b724fab2.bindPopup(popup_402f20dc53da3563a209a9e2e45deec5)
        ;

        
    
    
            var marker_1a7ab353ae06b61fa9a54587e75e450c = L.marker(
                [1.327187135, 103.9463465],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_637abb1f21c45872dd1878020161abaa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train front", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1a7ab353ae06b61fa9a54587e75e450c.setIcon(icon_637abb1f21c45872dd1878020161abaa);
        
    
        var popup_b44fe1024a4e8450490b1c3a8d925093 = L.popup({"maxWidth": "100%"});

        
            
                var html_6efbaf2d975d9044ab76a3fb203733aa = $(`<div id="html_6efbaf2d975d9044ab76a3fb203733aa" style="width: 100.0%; height: 100.0%;">TANAH MERAH MRT STATION</div>`)[0];
                popup_b44fe1024a4e8450490b1c3a8d925093.setContent(html_6efbaf2d975d9044ab76a3fb203733aa);
            
        

        marker_1a7ab353ae06b61fa9a54587e75e450c.bindPopup(popup_b44fe1024a4e8450490b1c3a8d925093)
        ;

        
    
    
            var marker_836efcfaee26a0fa29ff323366597279 = L.marker(
                [1.334549778, 103.9615482],
                {}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
    
            var icon_f22c020c35b2c9d3911fa771eaffd863 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_836efcfaee26a0fa29ff323366597279.setIcon(icon_f22c020c35b2c9d3911fa771eaffd863);
        
    
        var popup_f2e818ebb35ce945ba2b99618f3a0982 = L.popup({"maxWidth": "100%"});

        
            
                var html_7a1b47c088ef904269d234acce57f54c = $(`<div id="html_7a1b47c088ef904269d234acce57f54c" style="width: 100.0%; height: 100.0%;">EXPO MRT STATION</div>`)[0];
                popup_f2e818ebb35ce945ba2b99618f3a0982.setContent(html_7a1b47c088ef904269d234acce57f54c);
            
        

        marker_836efcfaee26a0fa29ff323366597279.bindPopup(popup_f2e818ebb35ce945ba2b99618f3a0982)
        ;

        
    
    
            var poly_line_f637632562935c83a02e8af3f2e3f839 = L.polyline(
                [[1.429443081, 103.835005], [1.41738337, 103.8329799], [1.381756046, 103.8449473], [1.369347304, 103.849933], [1.350838988, 103.848144], [1.351612171, 103.8641519], [1.349707875, 103.8735748], [1.342828338, 103.8797589], [1.335433322, 103.8881949], [1.326345372, 103.890287], [1.318112082, 103.8930604], [1.319778952, 103.9032525], [1.321038249, 103.9129494], [1.323979969, 103.9299845], [1.327187135, 103.9463465], [1.334549778, 103.9615482]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": "5", "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_d71970c6f19f52425dc381c1f4bd84c9);
        
</script>
</html>