<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7b8727b45939fabdf9c75992c2172ff6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_7b8727b45939fabdf9c75992c2172ff6" ></div>
        
</body>
<script>
    
    
            var map_7b8727b45939fabdf9c75992c2172ff6 = L.map(
                "map_7b8727b45939fabdf9c75992c2172ff6",
                {
                    center: [1.3521, 103.8198],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_346c64a93d03ef240d235fea4e70f4b6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var marker_f0cf9902e9ee1142b3ec36dfe51afcba = L.marker(
                [1.4293591, 103.8351614],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_f602115f2cc9cc7aefd8f43d5c739015 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f0cf9902e9ee1142b3ec36dfe51afcba.setIcon(icon_f602115f2cc9cc7aefd8f43d5c739015);
        
    
        var popup_3bb464b415754134fe13302093f9b89a = L.popup({"maxWidth": "100%"});

        
            
                var html_86a69959a1c388e0f2f98766bf8d8860 = $(`<div id="html_86a69959a1c388e0f2f98766bf8d8860" style="width: 100.0%; height: 100.0%;">[1.4293591, 103.8351614]</div>`)[0];
                popup_3bb464b415754134fe13302093f9b89a.setContent(html_86a69959a1c388e0f2f98766bf8d8860);
            
        

        marker_f0cf9902e9ee1142b3ec36dfe51afcba.bindPopup(popup_3bb464b415754134fe13302093f9b89a)
        ;

        
    
    
            var marker_0b13511df94e2ffe254c13b8001f153b = L.marker(
                [1.4274205, 103.8351734],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_5fbad52cf63260fe2230b2d663bf734c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0b13511df94e2ffe254c13b8001f153b.setIcon(icon_5fbad52cf63260fe2230b2d663bf734c);
        
    
        var popup_c1ff266f2e92d1f0d59fe4520e3f2d67 = L.popup({"maxWidth": "100%"});

        
            
                var html_d44358f326757067308badf8bdb47cbd = $(`<div id="html_d44358f326757067308badf8bdb47cbd" style="width: 100.0%; height: 100.0%;">[1.4274205, 103.8351734]</div>`)[0];
                popup_c1ff266f2e92d1f0d59fe4520e3f2d67.setContent(html_d44358f326757067308badf8bdb47cbd);
            
        

        marker_0b13511df94e2ffe254c13b8001f153b.bindPopup(popup_c1ff266f2e92d1f0d59fe4520e3f2d67)
        ;

        
    
    
            var marker_4837c10e6130435b9b8a38f4016ec91e = L.marker(
                [1.4272167, 103.8351667],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_d42b99c8ba08e481e2b6141ebf51237a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4837c10e6130435b9b8a38f4016ec91e.setIcon(icon_d42b99c8ba08e481e2b6141ebf51237a);
        
    
        var popup_fe0dceef0f87294cf03a2166158c2f58 = L.popup({"maxWidth": "100%"});

        
            
                var html_347e169fd75e6e37732bdcd59759aa21 = $(`<div id="html_347e169fd75e6e37732bdcd59759aa21" style="width: 100.0%; height: 100.0%;">[1.4272167, 103.8351667]</div>`)[0];
                popup_fe0dceef0f87294cf03a2166158c2f58.setContent(html_347e169fd75e6e37732bdcd59759aa21);
            
        

        marker_4837c10e6130435b9b8a38f4016ec91e.bindPopup(popup_fe0dceef0f87294cf03a2166158c2f58)
        ;

        
    
    
            var marker_57cd81b206d915577d8812ae8fd374a9 = L.marker(
                [1.4248212, 103.8350704],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_6d2f442e010fe74a3bfa5dd3251bc49c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_57cd81b206d915577d8812ae8fd374a9.setIcon(icon_6d2f442e010fe74a3bfa5dd3251bc49c);
        
    
        var popup_bd280810d1afc016b73ef7937b799721 = L.popup({"maxWidth": "100%"});

        
            
                var html_8043b0bb3fed9ec7b1c41c6768f5e525 = $(`<div id="html_8043b0bb3fed9ec7b1c41c6768f5e525" style="width: 100.0%; height: 100.0%;">[1.4248212, 103.8350704]</div>`)[0];
                popup_bd280810d1afc016b73ef7937b799721.setContent(html_8043b0bb3fed9ec7b1c41c6768f5e525);
            
        

        marker_57cd81b206d915577d8812ae8fd374a9.bindPopup(popup_bd280810d1afc016b73ef7937b799721)
        ;

        
    
    
            var marker_5bb6f661fc0777c2912d8bb8007ecb12 = L.marker(
                [1.4247049, 103.8350655],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_56c0a30120b1e153600ee9e2a6032be1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5bb6f661fc0777c2912d8bb8007ecb12.setIcon(icon_56c0a30120b1e153600ee9e2a6032be1);
        
    
        var popup_47e96b5c88c55abb3baa9f715d58c114 = L.popup({"maxWidth": "100%"});

        
            
                var html_a37c8926d9faed5a2347adda98d6f9d3 = $(`<div id="html_a37c8926d9faed5a2347adda98d6f9d3" style="width: 100.0%; height: 100.0%;">[1.4247049, 103.8350655]</div>`)[0];
                popup_47e96b5c88c55abb3baa9f715d58c114.setContent(html_a37c8926d9faed5a2347adda98d6f9d3);
            
        

        marker_5bb6f661fc0777c2912d8bb8007ecb12.bindPopup(popup_47e96b5c88c55abb3baa9f715d58c114)
        ;

        
    
    
            var marker_d1d643e79a1e833b50f17f83fb7c8a00 = L.marker(
                [1.4229603, 103.8349407],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_6fa36e56faf7f519416104f68271c8f2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d1d643e79a1e833b50f17f83fb7c8a00.setIcon(icon_6fa36e56faf7f519416104f68271c8f2);
        
    
        var popup_6f49f5bbdd616a7d8d05201118c88a09 = L.popup({"maxWidth": "100%"});

        
            
                var html_f76e38066d0322cd6043964907c4cedc = $(`<div id="html_f76e38066d0322cd6043964907c4cedc" style="width: 100.0%; height: 100.0%;">[1.4229603, 103.8349407]</div>`)[0];
                popup_6f49f5bbdd616a7d8d05201118c88a09.setContent(html_f76e38066d0322cd6043964907c4cedc);
            
        

        marker_d1d643e79a1e833b50f17f83fb7c8a00.bindPopup(popup_6f49f5bbdd616a7d8d05201118c88a09)
        ;

        
    
    
            var marker_60391ee6ec0560c96a8060906a8c9f76 = L.marker(
                [1.4228355, 103.8349336],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_4a48457265b1b4298e6dd494e94e007d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_60391ee6ec0560c96a8060906a8c9f76.setIcon(icon_4a48457265b1b4298e6dd494e94e007d);
        
    
        var popup_b07ed8edc24d52591832b7dd5c59ac39 = L.popup({"maxWidth": "100%"});

        
            
                var html_77543d765311fc43730b2b0bd0885a09 = $(`<div id="html_77543d765311fc43730b2b0bd0885a09" style="width: 100.0%; height: 100.0%;">[1.4228355, 103.8349336]</div>`)[0];
                popup_b07ed8edc24d52591832b7dd5c59ac39.setContent(html_77543d765311fc43730b2b0bd0885a09);
            
        

        marker_60391ee6ec0560c96a8060906a8c9f76.bindPopup(popup_b07ed8edc24d52591832b7dd5c59ac39)
        ;

        
    
    
            var marker_d16bac64d7d163e14443053bde508ea0 = L.marker(
                [1.4225336, 103.8349292],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_034528f278fd2e342d9eb9b8aa3c4eba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d16bac64d7d163e14443053bde508ea0.setIcon(icon_034528f278fd2e342d9eb9b8aa3c4eba);
        
    
        var popup_760c6437f0cacbaf103dd9c28b098798 = L.popup({"maxWidth": "100%"});

        
            
                var html_64a7054c6b500b31c5057e4f3ec82c85 = $(`<div id="html_64a7054c6b500b31c5057e4f3ec82c85" style="width: 100.0%; height: 100.0%;">[1.4225336, 103.8349292]</div>`)[0];
                popup_760c6437f0cacbaf103dd9c28b098798.setContent(html_64a7054c6b500b31c5057e4f3ec82c85);
            
        

        marker_d16bac64d7d163e14443053bde508ea0.bindPopup(popup_760c6437f0cacbaf103dd9c28b098798)
        ;

        
    
    
            var marker_aa9e1631a492a6ff96265cc36bf761ab = L.marker(
                [1.4187248, 103.8339516],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_0e1176179e5783a6692b63ae9463fcac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_aa9e1631a492a6ff96265cc36bf761ab.setIcon(icon_0e1176179e5783a6692b63ae9463fcac);
        
    
        var popup_f5edcbdea54a6b0184a290c8b38eda5c = L.popup({"maxWidth": "100%"});

        
            
                var html_5bb505754742534ede301002a7850660 = $(`<div id="html_5bb505754742534ede301002a7850660" style="width: 100.0%; height: 100.0%;">[1.4187248, 103.8339516]</div>`)[0];
                popup_f5edcbdea54a6b0184a290c8b38eda5c.setContent(html_5bb505754742534ede301002a7850660);
            
        

        marker_aa9e1631a492a6ff96265cc36bf761ab.bindPopup(popup_f5edcbdea54a6b0184a290c8b38eda5c)
        ;

        
    
    
            var marker_ad054364fc789e70a5b3e41db698fa83 = L.marker(
                [1.418343, 103.8337661],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_1debe4c3f1387b86beec922d05b8a24a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ad054364fc789e70a5b3e41db698fa83.setIcon(icon_1debe4c3f1387b86beec922d05b8a24a);
        
    
        var popup_d47046101e427d8c1797e9db9dfcab83 = L.popup({"maxWidth": "100%"});

        
            
                var html_461df930ea356abd057e11a7775d2437 = $(`<div id="html_461df930ea356abd057e11a7775d2437" style="width: 100.0%; height: 100.0%;">[1.418343, 103.8337661]</div>`)[0];
                popup_d47046101e427d8c1797e9db9dfcab83.setContent(html_461df930ea356abd057e11a7775d2437);
            
        

        marker_ad054364fc789e70a5b3e41db698fa83.bindPopup(popup_d47046101e427d8c1797e9db9dfcab83)
        ;

        
    
    
            var marker_0563ec7aa0617de9c8dcbdaaad2023d6 = L.marker(
                [1.4182621, 103.8337263],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_c173047bbf91d764878b7c0e11d5e408 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0563ec7aa0617de9c8dcbdaaad2023d6.setIcon(icon_c173047bbf91d764878b7c0e11d5e408);
        
    
        var popup_3a243f8a28564454173c9a861a3e07af = L.popup({"maxWidth": "100%"});

        
            
                var html_7d26bb14f68fb8b81b941ff5fb7af109 = $(`<div id="html_7d26bb14f68fb8b81b941ff5fb7af109" style="width: 100.0%; height: 100.0%;">[1.4182621, 103.8337263]</div>`)[0];
                popup_3a243f8a28564454173c9a861a3e07af.setContent(html_7d26bb14f68fb8b81b941ff5fb7af109);
            
        

        marker_0563ec7aa0617de9c8dcbdaaad2023d6.bindPopup(popup_3a243f8a28564454173c9a861a3e07af)
        ;

        
    
    
            var marker_88b1f6f8df81a74a37f3d878477e944c = L.marker(
                [1.4181753, 103.8336797],
                {}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
    
            var icon_d558b223a88cdf1ace9f50d6a79e3e42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_88b1f6f8df81a74a37f3d878477e944c.setIcon(icon_d558b223a88cdf1ace9f50d6a79e3e42);
        
    
        var popup_f3ca1ef20c95d49a6c5be6df8ecddaed = L.popup({"maxWidth": "100%"});

        
            
                var html_f09e02b48fcec0703ab9d652dab7a445 = $(`<div id="html_f09e02b48fcec0703ab9d652dab7a445" style="width: 100.0%; height: 100.0%;">[1.4181753, 103.8336797]</div>`)[0];
                popup_f3ca1ef20c95d49a6c5be6df8ecddaed.setContent(html_f09e02b48fcec0703ab9d652dab7a445);
            
        

        marker_88b1f6f8df81a74a37f3d878477e944c.bindPopup(popup_f3ca1ef20c95d49a6c5be6df8ecddaed)
        ;

        
    
    
            var poly_line_b085bcc328cc47525089fba833bcdac3 = L.polyline(
                [[1.4293591, 103.8351614], [1.4274205, 103.8351734], [1.4272167, 103.8351667], [1.4248212, 103.8350704], [1.4247049, 103.8350655], [1.4229603, 103.8349407], [1.4228355, 103.8349336], [1.4225336, 103.8349292], [1.4187248, 103.8339516], [1.418343, 103.8337661], [1.4182621, 103.8337263], [1.4181753, 103.8336797]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": "5", "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_7b8727b45939fabdf9c75992c2172ff6);
        
</script>
</html>